<!DOCTYPE html>
<html>
	<head>
    <style>

   		body, html {
  			margin: 0; 
  			height: 100%; 
  			overflow: hidden
		}

        .bg { 
  			background-image: url("/static/img/welcome2.jpg");
  			height: 200%; 
  			background-position: center;
  			background-repeat: no-repeat;
  			background-size: cover;
		}

    </style>

</head>
	<body class="bg">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
		<span class="navbar-brand center" style="color:white">CIS550 Project | Welcome</span>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			  <div class="navbar-nav">
				<a class="nav-item nav-link" href="/" style="color:white">Home</a>
            	<a class="nav-item nav-link" href="/pesticides" style="color:white">Pesticides</a>
            	<a class="nav-item nav-link" href="/cancer" style="color:white">Cancer</a>
            	<a class="nav-item nav-link active" href="/economic" style="color:white">Economic</a>
              <a class="nav-item nav-link active" href="/pesticides_cancer" style="color:white">Pest-Cancer</a>
              <a class="nav-item nav-link active" href="/specialty" style="color:white">Specialty</a>
			  </div>
			</div>
	</nav>

	<div id="title" class="slide header" >
    <h1 style="text-align:center;font-weight:bold;font-size:40px;color:#FFFFF0">Is the way we grow our food affecting our health? </h1>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div > 
    
    	<p style="position:fixed;font-size:18px;color:#FFFFF0"> 
    		"After World War II, the United States was left with an excess of petroleum that they no longer had a use for. They found that petroleum could be used as chemical fertilizer, and they marketed it as such. The farmers became convinced that fertilizing crops with chemicals saved time, increased yield, and created healthier, greener plants. The plants were greener, but they weren’t healthier – they were now weak and lacking major nutrients.Weak plants are more subject to disease and pests, so the solution became to add more chemicals – this time in the form of pesticides (which are essentially an antibiotic) – to the soil, and ignore the failing biology just underneath the surface. It was, and still is, an environmental version of exactly how we are treating disease in humans today.<br><br>
    		The most widely used commercial pesticide is a glyphosate-based herbicide, called Roundup. Today, Roundup’s use is so profuse, that it has become impossible to avoid the effects altogether. In fact, 99.99% of Roundup never even hits a weed – instead, it’s found primarily in the runoff, and ends up in the water we drink and the air we breathe. In the southern United States, 75% of the air and the rain are contaminated with glyphosates. Before you even take a bite of food, you are being hit with an antibiotic every time you inhale." -Zach Bush, M.D."
    	</p>
    </div>


	</body>
</html>
